<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <parameter name="url" value="https://www.travelocity.com" />
    <parameter name="browser" value="chrome" />
    <test name="Test1">
        <classes>
            <class name="org.basic.Test1" />
        </classes>
    </test>
</suite>